.BlogList {
  display: block;
  width: 1000px;
  margin: 0 auto;
}

.Category {
  position: absolute;
  width: 200px;
  height: 40px;
  margin-top: 130px;
  text-align: left;
  border-radius: 10px;
  color: white;
  
}


.Category > p {
  padding-top: 13px;
  font-weight: bold;
}

.ListBlocks {
  top: 220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.ListBlocks > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #222222;
}

.crop {
  width: 280px;
  height: 180px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px ;
}

.ItemBlock {
  display: block;
  width: 280px;
  height: 295px;
  margin-bottom: 25px;
  -webkit-box-shadow: 1px 2px 15px -1px rgba(233, 233, 233);
  -moz-box-shadow: 1px 2px 15px -1px rgba(233, 233, 233);
  box-shadow: 1px 2px 15px -1px rgba(233, 233, 233);
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.ItemBlock:hover img {
  opacity: 0.6;
}

.ItemBlock:hover video {
  opacity: 0.6;
}

.ItemBlock img {
  background-color: white;
  width: 280px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  transition: 0.5s;
}

.ItemBlock video {
  background-color: white;
  transition: 0.5s;
}

.ItemBlock > .TextBlock {
  height: 90px;
  overflow: hidden;
  width: 260px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: white;
  transition: 0.5s;
  position: absolute;
  font-size: 18px;
}


