.footer {
    height: 100px;
    padding-top: 50px;
	background-color: #222222;
	color: white;
}

.FooterBlock > div {
	width: 178px;
	margin-top: 30px;
	float: left;
	font-size: 18px;
}

.FooterBlock > img {
	margin-left: 740px;
	width: 80px;
	border-radius: 80px;
}

.FooterBlock {
    width: 1000px;
    margin: 0 auto;
}